body { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Roboto", sans-serif;
} 
  
/* Header Navbar Styles */
.navbar { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-image: linear-gradient(90deg, #74D7BB, #53C8B6, #35A99C); 
    background-color: transparent; 
} 
.navbar ul li{
    list-style-type:none;
    display: inline-block; 
    margin: 0.8rem 1.5rem;
}
.navbar ul li a{
    color:rgb(0, 13, 255);
    text-transform: capitalize;
    transition: 0.4s;
}  
.navbar ul li a:hover{
    color:rgb(4, 255, 96);
}
.logo { 
    padding: 0 5rem; 
} 
  
.logo .logo-heading { 
    color: #fff; 
} 
  
.menu { 
    padding: 0 5rem; 
} 
  
.hamburger { 
    display: none; 
    color: #fff; 
    font-size: 25px; 
} 
  
.cross-icon { 
    display: none; 
} 
  
.menu .menu-list { 
    display: flex; 
    list-style: none; 
} 
  
.menu-list .menu-list-items { 
    padding: 0.5rem 1rem; 
} 
  
 .menu-list .menu-list-items { 
     padding: 0.5rem 0.3rem; 
 } 
  
/* Main Hero Section Styles */
.hero { 
    background-color: #f7f7f7;
    background-image: url('./Images/royalty_green.png');
    background-repeat: no-repeat; 
    background-size: 135% 100%; 
    width: 100%; 
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: start; 
    margin: 4.8rem 0; 
} 
  
.hero .intro { 
    text-align: center; 
    margin: 0 5rem; 
} 
  
.hero .intro-buttons { 
    margin: 2rem 0; 
    display: flex; 
    align-items: center; 
    justify-content: space-evenly; 
} 
  
/* About section styles */
.about { 
    display: flex; 
    align-items: center; 
    background-image: linear-gradient(45deg, #363D73, #2794B3); 
    justify-content: space-between; 
    width: 100%; 
} 
  
.about .about-text { 
    width: 450px; 
    color: #fff; 
    padding: 5rem 1rem 5rem 5rem; 
} 
  
.about .about-image img { 
    height: 400px; 
    width: 450px; 
    padding: 5rem 5rem 5rem 1rem; 
} 
  
/* Portfolio section styles */
.portfolio { 
    margin: 4.8rem 0; 
    padding: 0 5rem; 
} 
  
.port-card { 
    padding: 0 !important; 
    background: none !important; 
    border: 2px solid #000; 
} 
  
.port-card .image { 
    width: 100%; 
} 
  
.port-card .image img { 
    height: 200px; 
    width: 100%; 
    border-top-right-radius: 20px; 
    border-top-left-radius: 20px; 
}