/*css*/
body { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; 
} 
  
/* Header Navbar Styles (first page-Header)*/
/* Basic Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #5cf7c6;
    color: #ffffff;
}

.logo-heading {
    margin: 0;
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger-icon, .cross-icon {
    font-size: 1.5rem;
    color: #ffffff;
    display: none;
}

.hamburger-icon {
    display: inline;
}

/* Menu Styles */
.menu {
    display: flex;
}

.menu-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list-items {
    margin: 0 1rem;
}

.links {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.links:hover {
    color: #028900;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hamburger {
        display: inline;
    }
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #1aea8c;
    }
    .menu-list {
        flex-direction: column;
    }
    .menu-list-items {
        margin: 1rem 0;
        text-align: center;
    }
    .menu.active {
        display: flex;
    }
    .hamburger-icon.active {
        display: none;
    }
    .cross-icon.active {
        display: inline;
    }
}

    /* Main Hero Section Styles (first page-Home)*/
.hero { 
    background-image: url('./Images/website.png');
    background-repeat: no-repeat; 
    background-size: 112% 103%; 
    width: 100%; 
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: start; 
} 
  
.hero .intro { 
    text-align: center;
    color: #14e567;
    width: 600px;
    height: 290px; 
    margin: 0 5rem; 
    background:transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    flex-direction: column;
} 
  
.hero .intro-buttons { 
    margin: 2rem 0; 
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    flex-direction: row;
} 
.hero .intro-buttons .btn{
    font-size: 16px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    letter-spacing: 1px; 
    padding: 10px 20px; 
    border-radius: 5px; 
    letter-spacing: 1px; 
    border: none;
} 
.hero .intro-buttons .btn:hover{ 
    display: inline-block;
    font-size: 18px;
    border-radius: 5px solid #18e42c;
    transition: 0.25s;
    background: #14e567;
    outline: none;
    cursor: pointer;
} 
/* About section styles (third page-About)*/
.about { 
    display: flex; 
    align-items: center;
    background-image: linear-gradient(45deg, #363D73, #2794B3);
    justify-content: space-between; 
    width: 100%;
    height: 100vh;
} 
.about .about-text { 
    width: 450px;
    color: #fff; 
    padding: 5rem 1rem 5rem 5rem; 
} 
  
.about .about-image img { 
    height: 600px; 
    width: 700px; 
    padding: 5rem 5rem 5rem 1rem;
} 
/* Portfolio section styles (second page-Portfolio)*/
.portfolio { 
    margin: 4.8rem 0; 
    padding: 0 5rem; 
} 
  
.port-card { 
    padding: 0 !important; 
    background: none !important; 
    border: 2px solid #000; 
} 
  
.port-card .image { 
    width: 100%; 
} 
  
.port-card .image img { 
    height: 200px; 
    width: 100%; 
    border-top-right-radius: 20px; 
    border-top-left-radius: 20px;
}
/* Services section styles (fourth page-Services)*/
.services { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    margin: 4.5rem 0; 
    padding: 0 5rem; 
} 

.services .services-content .my-card:hover {
    cursor: pointer; 
    display: inline-flex;
    background: rgba(89, 228, 117, 0.7);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    transition: 0.5s;
} 

.my-card:hover h3{
    transform: translateY(-50%);
    flex-direction: column;
    bottom: 49%;
    opacity: 1;
    width: 100%;
    font-weight: 500;
    color: #000;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transition: 0.5s;
} 
.my-row { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin: 2rem 0; 
} 
  
.my-row .my-col { 
    text-align: center; 
    width: 30%; 
} 
  
.my-card { 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    border-radius: 20px; 
    background-image: linear-gradient(#74D7BB, #53C8B6, #35A99C); 
    padding: 1rem; 
} 
  
.icon { 
    display: flex;
    height: 100px; 
    width: 100px; 
    border-radius: 50%; 
    background-color: #363D73; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 
/* Contact section styles (fifth page-Contact)*/
.contact { 
    padding: 0 4rem; 
    background-image: url('./Images/web.png');
    background-repeat: no-repeat; 
    background-size: 100% 100%; 
    width: 89%; 
    color: #000000;
    height: 95vh;
} 
.contact-content { 
    display: flex; 
    margin: 3rem 0; 
    justify-content: space-between; 
} 
.contact-form-container { 
    width: 50%; 
} 
.contact-form { 
    display: flex; 
    flex-direction: column; 
} 
.contact-form .form-controls { 
    width: 80%;
    padding: 5px 0; 
    margin: 1.67rem 0; 
} 
.contact-form .form-btn { 
    padding: 6px;
    margin: 0 6rem;
    width: 45%;
    font-size: 16px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
}  
.contact-form .form-btn:hover{ 
    cursor: pointer;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    font-size: 19px;
    display: inline-block;
    transition: 0.5s;
    background: #01ac48;
    letter-spacing: 1px; 
    padding: 10px 20px; 
    border-radius: 5px; 
    border: none;
}  
.contact-details {
    width: 40%; 
    height: 400px;
    margin: 10px 0 0 30px ; 
    background:transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    box-sizing: content-box;
    padding: 1rem 4rem 4rem 4rem ;
    text-align: center;
    font-size: 16px;

}
.contact .contact-details:hover {
    cursor: pointer; 
    display: inline-block;
    background: #00ddff;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    transition: 0.5s;
} 
.contact-details:hover h1{
    background-color: #00fff7;
    transform: translateY(-50%);
    flex-direction: column;
    bottom: 49%;
    opacity: 1;
    width: 100%;
    font-weight: 500;
    color: #000;
    font-size: 26px;
    bottom: 0;
    transition: 0.5s;
} 
/* Footer Styles (fifth page-Footer)*/
.footer { 
    background-color: #000; 
    background-size: 100% 100%;
    color: #fff; 
    padding: 2rem; 
} 
  
.footer-list-items { 
    display: flex;
    padding: 3px; 
    align-items: center; 
    justify-content: center; 
    height: 50px; 
    width: 50px; 
    margin: 0 10px; 
    border-radius: 50%; 
    background-color: #53C8B6; 
    cursor: pointer; 
    display: inline-flex;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
} 
.footer-menu .footer-list-items:hover{
    transform:scale(1.3);
    flex-direction: row;
    transition: 0.5s;
    background: rgba(0, 179, 255, 0.7);
} 
  
.footer-links { 
    font-size: 24px; 
    color: #ffffff; 
    text-decoration: none; 
} 
  
.social-links { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 
.footer-menu { 
    display: inline-flex;
    padding: 0 5rem; 
} 

/* utility classes */ 
.my-heading { 
    font-size: 2.5rem; 
}  
.heading-span{
    font-weight: bolder;
}
.text-center{
    text-align: center;
}
.links:hover { 
    border-bottom: 2px solid #fff;
} 
  
.links { 
    border-bottom: 2px solid transparent; 
    transition: 0.25s; 
    padding: 5px; 
    text-decoration: none; 
    color: #fff; 
}  
.heading-span { 
    font-weight: bolder; 
}  
.white-text { 
    color: #fff; 
} 
  
.blue-text { 
    color:#363D73;
}
